<head>
    <title>New - Mini Messageboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <form method="POST" action="/new">
        <h1>New Message</h1>
        <label for="newMsg">Message</label>
        <textarea name="newMsg" id="newMsg" placeholder="Enter your message."></textarea>
        <label for="newUser">Username</label>
        <input type="text" name="newUser" id="newUser" placeholder="example123">
        <input type="submit" value="Submit">
    </form>
</body>