<head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1 id="home-title">Mini Message Board</h1>
    <a class="link-btn" href="/new">New Message</a>
    <div id="messages-container">
        <% messages.forEach((message)=> { %>
            <div class="message-item">
                <div class="msg-div">
                    <p class="msg-txt">
                        <%= message.text %>
                    </p>
                </div>
                <p class="msg-user">
                    User:
                    <%= message.user %>
                </p>
                <p class="msg-date">
                    Posted:
                    <%= message.added %>
                </p>
                <a class="link-btn" href="/messages/<%= message.id %>">View Message</a>
            </div>
            <% }) %>
    </div>
</body>